<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muyi.example.mapper.UserMapper">
    <resultMap id="UserMap" type="com.muyi.example.entity.User">
        <id column="id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_status" property="deleteStatus"/>
    </resultMap>

    <resultMap id="UserVoMap" type="com.muyi.example.vo.UserVo">
        <id column="id" property="userId"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleteStatus" property="deleteStatus"/>
        <result column="delete_status" property="deleteStatus"/>
        <collection property="roles" ofType="com.muyi.example.entity.Role">
            <id column="roleId" property="id"/>
            <result column="roleName" property="roleName"/>
        </collection>
    </resultMap>

    <resultMap id="roleMap" type="com.muyi.example.vo.RoleVo">
        <id column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <collection property="users" ofType="com.muyi.example.entity.User">
            <id column="userId" property="userId"/>
            <result column="nickname" property="nickname"/>
        </collection>
        <collection property="menus" ofType="com.muyi.example.dto.Menu">
            <id column="menuCode" property="menuCode"/>
            <result column="menuName" property="menuName"/>
            <collection property="permissions" ofType="com.muyi.example.dto.Permission">
                <id column="permissionId" property="permissionId"/>
                <result column="permissionName" property="permissionName"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="permissionMap" type="com.muyi.example.vo.PermissionVo">
        <id column="menuName" property="menuName"/>
        <collection property="permissions" ofType="com.muyi.example.dto.Permission">
            <id column="id" property="permissionId"/>
            <result column="permissionName" property="permissionName"/>
            <result column="requiredPerm" property="requiredPerm" javaType="Integer"/>
        </collection>
    </resultMap>

    <insert id="batchAndUserRole">
        insert into sys_user_role
        (user_id,role_id) values
        <foreach collection="roles" item="i" separator=",">
            (#{userId},#{i.id})
        </foreach>
    </insert>

    <select id="getUserInfo" resultMap="UserVoMap">
        select u.* ,
               ur.role_id         roleId,
               r.role_name        roleName
        from sys_user u
            left join sys_user_role ur on u.id = ur.user_id
            left join sys_role r on ur.role_id = r.id
        where u.id = #{userId}
    </select>

    <select id="listRoles" resultMap="roleMap">
        select r.id                 roleId,
               r.role_name          roleName,
               u.id                 userId,
               u.nickname,
               p.id                 permissionId,
               p.menu_code          menuCode,
               p.menu_name          menuName,
               p.permission_name    permissionName
        from sys_role r
            left join sys_user_role ur on r.id = ur.role_id
            left join sys_user u on u.id = ur.user_id and u.delete_status = '1'
            left join sys_role_permission rp on r.id = rp.role_id and rp.delete_status = '1'
            left join sys_permission p on rp.permission_id = p.id
        where r.delete_status = '1'
        order by r.id,p.id
    </select>

    <select id="listAllPermissions" resultMap="permissionMap">
        select p.id,
               p.menu_name           menuName,
               p.permission_name     permissionName,
               p.required_permission requiredPerm
        from sys_permission p;
    </select>
    <insert id="batchAndRolePerm">
        insert into sys_role_permission
            (role_id,permission_id,create_time,update_time,delete_status)
        values
        <foreach collection="permissions" item="it" separator=",">
            (#{id},#{it.permissionId},#{dateNow},#{dateNow},'1')
        </foreach>

    </insert>
</mapper>